ProcessDriver: {

  Verbosity:    2
  EnableFilter: false
  RandomAccess: false
  ProcessType:  ["SuperaWire","SuperaHit","SuperaOpDigit","SuperaSimCh","SuperaMCROI","SuperaMCPCluster","SuperaChStatus","ImageFromPixel2D","SuperaKeyPointCluster","ImageFromPixel2D","WireMask","WireMask","WireMask","WireMask"]
  ProcessName:  ["SuperaWire","SuperaHit","SuperaOpDigit","SuperaSimCh","SuperaMCROI","SuperaMCPCluster","SuperaChStatus","ImagePCluster","SuperaKeyPointCluster","ImageKeyPoint","WireMaskWire","WireMaskHit","WireMaskSegment","WireMaskInstanceSegment"]
  #ProcessType:  ["SuperaWire","SuperaHit","SuperaOpDigit","SuperaMCROI","SuperaMCPCluster","ImageFromPixel2D","SuperaKeyPointCluster","ImageFromPixel2D"]
  #ProcessName:  ["SuperaWire","SuperaHit","SuperaOpDigit","SuperaMCROI","SuperaMCPCluster","ImagePCluster","SuperaKeyPointCluster","ImageKeyPoint"]

  IOManager: {
    Verbosity:   2
    Name:        "IOManager"
    IOMode:      1
    OutFileName: "out_test.root"
    InputFiles:  []
    InputDirs:   []
    StoreOnlyType: []
    StoreOnlyName: []
  }

  ProcessList: {
    WireMaskWire: {
      ChStatusProducer: "wire"
      ImageProducer: "wire"
    }
    WireMaskHit: {
      ChStatusProducer: "wire"
      ImageProducer: "hit"
    }
    WireMaskSegment: {
      ChStatusProducer: "wire"
      ImageProducer: "segment"
    }
    WireMaskInstanceSegment: {
      ChStatusProducer: "wire"
      ImageProducer: "iseg"
    }
    SuperaChStatus: {
      LArChStatusProducer: "chstatus"
      OutChStatusLabel: "wire"
    }
    SuperaWire: {
      Verbosity: 2
      OutImageLabel:    "wire"
      LArWireProducer:  "caldata"
      TimeOffset:       2400
      MetaConfig: {
        MinTime:          2400
        MinWire:          0
        EventImageRows:   [1008,1008,1008]
        EventImageCols:   [3456,3456,3456]
        EventCompRows:    [6,6,6]
        EventCompCols:    [1,1,1]
      }
    }
    SuperaHit: {
      Verbosity: 2
      OutImageLabel:    "hit"
      LArHitProducer:   "gaushit"
      TimeOffset:       2400
      MetaConfig: {
        MinTime:          2400
        MinWire:          0
        EventImageRows:   [1008,1008,1008]
        EventImageCols:   [3456,3456,3456]
        EventCompRows:    [6,6,6]
        EventCompCols:    [1,1,1]
      }
    }
    SuperaKeyPointCluster: {
      Verbosity: 2
      OutPixel2DLabel:     "keypt"
      LArMCTrackProducer:  "mcreco"
      LArMCShowerProducer: "mcreco"
      TimeOffset:       2400
      InputROILabel: "iseg"
      ApplySCE:      true
      RowPad:        4
      ColPad:        4
      UsePrimaryStart:   true
      UseSecondaryStart: true
      UseScattering:     false
      MetaConfig: {
        MinTime:          2400
        MinWire:          0
        EventImageRows:   [1008,1008,1008]
        EventImageCols:   [3456,3456,3456]
        EventCompRows:    [6,6,6]
        EventCompCols:    [1,1,1]
      }
    }
    SuperaSimCh: {
      Verbosity: 2
      OutImageLabel:       "segment"
      OutROILabel:         "segment"
      LArMCTruthProducer:  "generator"
      LArMCTrackProducer:  "mcreco"
      LArMCShowerProducer: "mcreco"
      LArSimChProducer:    "largeant"
      Origin: 0
      TimeOffset:       2400
      MetaConfig: {
        MinTime:          2400
        MinWire:          0
        EventImageRows:   [1008,1008,1008]
        EventImageCols:   [3456,3456,3456]
        EventCompRows:    [6,6,6]
        EventCompCols:    [1,1,1]
      }
    }
    SuperaMCROI: {
      Verbosity: 2
      OutROILabel:         "mcroi"
      LArMCTruthProducer:  "generator"
      LArMCTrackProducer:  "mcreco"
      LArMCShowerProducer: "mcreco"
      LArSimChProducer:    ""
      Origin: 0
      StoreG4PrimaryROI:    true
      StoreG4SecondaryROI:  false
      FilterTargetPDG:      []
      FilterTargetInitEMin: []
      FilterTargetDepEMin:  []
      ShowerInitEMin: 0
      ShowerDepEMin:  20
      TrackInitEMin:  0
      TrackDepEMin:   20
      FilterROIMinRows: 0
      FilterROIMinCols: 0
      TimeOffset:       2400
      MetaConfig: {
        MinTime:          2400
        MinWire:          0
        EventImageRows:   [1008,1008,1008]
        EventImageCols:   [3456,3456,3456]
        EventCompRows:    [6,6,6]
        EventCompCols:    [1,1,1]
      }
      MCParticleTree: {
        Verbosity:    2
        UseG4Primary: false
	DTMax:        10000
      }
      MCROIMaker: {
        Verbosity:    2
   	MaxTimeTick:  8448
        TimePadding:  10
        WirePadding:  10
        MinWidth:     2
        MinHeight:    2
	ApplySCE:     true
      }
    }
    SuperaMCPCluster: {
      Verbosity: 2
      OutROILabel:         "iseg"
      OutPixel2DLabel:     "iseg"
      LArMCTruthProducer:  "generator"
      LArMCTrackProducer:  "mcreco"
      LArMCShowerProducer: "mcreco"
      LArSimChProducer:    "largeant"

      Origin: 0
      StoreG4PrimaryROI:    true
      StoreG4SecondaryROI:  false
      FilterTargetPDG:      []
      FilterTargetInitEMin: []
      FilterTargetDepEMin:  []
      ShowerInitEMin: 0
      ShowerDepEMin:  20
      TrackInitEMin:  0
      TrackDepEMin:   20
      FilterROIMinRows: 0
      FilterROIMinCols: 0

      TimeOffset:       2400
      MetaConfig: {
        MinTime:          2400
        MinWire:          0
        EventImageRows:   [1008,1008,1008]
        EventImageCols:   [3456,3456,3456]
        EventCompRows:    [6,6,6]
        EventCompCols:    [1,1,1]
      }
      MCParticleTree: {
        Verbosity:    2
        UseG4Primary: false
	DTMax:        10000
      }
      MCROIMaker: {
        Verbosity:    2
   	MaxTimeTick:  8448
        TimePadding:  10
        WirePadding:  10
        MinWidth:     2
        MinHeight:    2
	ApplySCE:     true
      }
    }
    ImagePCluster: {
      PixelProducer:  "iseg"
      ImageProducer:  "wire"
      OutputProducer: "iseg"
      PIType: 2
    }
    ImageKeyPoint: {
      PixelProducer:  "keypt"
      ImageProducer:  "wire"
      OutputProducer: "keypt"
      PIType: 2
    }
    SuperaOpDigit: {
      Verbosity: 2
      OutImageLabel:      "pmt"
      LArOpDigitProducer: "saturation"
      MinTime:            0
      MinWire:            0
      TimeOffset:         0
      EventImageRows:   [1500]
      EventImageCols:   [32]
      EventCompRows:    [1]
      EventCompCols:    [1]
    }
  }
}

