doc/*
!doc/doxygenLArCV.script
*.out
*.depend
*.png
*.jpg
*.jpeg
*.pcm
*cmake
*CMakeFiles
*Dict.cxx
*Dict.h
*Dict.cc
*Cint.cxx
*Cint.h
*Cint.cc
*.root
*.json
*.db
*.log
*.dat
!*CMakeLists.txt
*.txt
*.bin
*.root
build
app/PlayGround/*
app/Supera/APILArLite/Cropper.*
app/Supera/APILArLite/MCParticleTree.*
app/Supera/APILArLite/SuperaTypes.h
app/Supera/APILArLite/SuperaUtils.*
app/Supera/APILArLite/SuperaCore.*
app/Supera/APILArSoft/Cropper.*
app/Supera/APILArSoft/MCParticleTree.*
app/Supera/APILArSoft/SuperaTypes.h
app/Supera/APILArSoft/SuperaUtils.*
app/Supera/APILArSoft/SuperaCore.*
app/Supera/APILArSoft/supera.fcl
*~
*.pyc
.ipynb_checkpoints
*.ipynb
.DS_Store
*.pdf
*.o
