# ===================================================================
# Example LArCV Processor
# -----------------------
ProcessDriver: {
  Verbosity: 2
  EnableFilter: false
  RandomAccess: false
  ProcessType: []
  ProcessName: []

  IOManager: {
    Verbosity: 2
    Name: "IOManager"
    IOMode:  0 # 0=read-only, 1=write-only, 2=read&write
    OutFileName: "" # put output file name if write mode
    InputFiles:  []
    InputDirs:   []
    ReadOnlyType: [0,1,0,1,0,0] # 0=Image2D, 1=partroi
    ReadOnlyName: ["tpc","tpc","nncosine","nncosine","nncosinehitmarker","dbscan"]
    StoreOnlyType: []
    StoreOnlyName: []
  }

  ProcessList: {
  }
}

VisProcessor: {
  DrawImage2D: {
    isactive: true
    module_file: "vislarcv/drawimage2d"
    module_type: "DrawImage2D"
    destination: "rgbdisplay"
    image2d_producer: "tpc"
    roi_producer: "tpc"
    TimeDownsamplingFactor: 1.0
    WireDownsamplingFactor: 1.0
  }

  ddbscan: {
    isactive: true
    module_file: "drawnncosine"
    module_type: "DrawNNCosine"
    destination: "rgbdisplay"
    nncosine_producer: "nncosine"
    hit_producer: "nncosinehitmarker"
    roi_producer: "nncosine"
  }

  dbscanvec: {
    isactive: true
    module_file: "visnncosinevec"
    module_type: "VisNNCosineVec"
    destination: "rgbdisplay"
    producer: "nncosine"
    hit_producer: "nncosinehitmarker"
    thinning_factor: 0.0
  }

  dbcluster: {
    isactive: true
    module_file: "visdbscanclusters"
    module_type: "VisDBScanClusters"
    destination: "rgbdisplay"
    dbscan_producer: "dbscan"
  }    
}



