# ===================================================================
# Example PyAnalyzer
# -------------------
# use modules like this to develop new algorithms and data products.
# an instance of the storage manager is provided. So one has access
# to all data products in the file or those created upstream.
# ===================================================================
#LArLiteData: {
#  # Note. for LArLite this module is a dummy module
#  # It will pass through.
#  # However, for PyLArD, the pylard version will fill the RGB and 
#  module_type: "PyAnalyzer"
#  PyFilePath: "pylard/eventprocessor/example.py"
#  StorageVariableName : "event_storage_manager"
#}

# ===================================================================
# Configure converters of larlite data products to things
# pylard can draw.
#
# ===================================================================

VisProcessor: {
  opdata: {
    # Note. for LArLite this module is a dummpy module
    # However, for PyLArD, the pylard version will fill the RGB
    # FIXME: opdetdisplay expects product with name opdata
    isactive: false
    module_file: "vislarlite/drawopdata"
    module_type: "PyLArLiteDrawOpdata"
    destination: "opdetdisplay"
    opdata_producer: "pmtreadout"
    trigger_producer: "triggersim"
  }
  caldata: {
    isactive: false    
    module_file: "vislarlite/drawimage2d"
    module_type: "PyLArLiteDrawImage2D"
    destination: "rgbdisplay"
    wire_producer: "caldata"
    wire_downsampling: 1
    time_downsampling: 6
    start_tick:  2400
    tick_offset: 2400
  }
}

