ProcessDriver: {

  Verbosity:    2
  EnableFilter: true
  RandomAccess: false
  ProcessType: ["MCinfoRetriever","LArbysImage","LArbysImageAna"]
  ProcessName: ["MCinfoRetriever","LArbysImage","LArbysImageAna"]
  AnaFile:     "reco_ana.root"

  IOManager: {
    Verbosity:     2
    Name:         "IOManager"
    IOMode:        0
    OutFileName:   ""
    InputFiles:    []
    InputDirs:     []
    StoreOnlyType: []
    StoreOnlyName: []
  }
  
  ProcessList : {

    MCinfoRetriever : {
    
      MCProducer: "tpc_hires_crop"
      Image2DProducer: "tpc_hires_crop"

      MinNuDepE: 0
      MaxNuDepE: 9e6

      MinNuInitE: 200#0
      MaxNuInitE: 600#9e6

      MinNProton: 0
      MinNLepton: 0
      MinNMeson: 0
      MinNShower: 0
      MinNNeutron: 0
      
      #Visibility cut
      CheckVisibility : false#true

      ProtonMinDepE: 70
      ProtonMaxDepE: 9e6
      
      LeptonMinInitE: 35

      DoNotReco: false
    }
    
    LArbysImage: {

      Profile: true

      TrackImageProducer: "tpc_hires_crop"
      Debug: false

      Q2Gray: 2
      QMin: 0.1
      QMax: 500

      MatchPlaneWeights: [1.,1.,1.]

      ImageClusterManager: {

        StoreAlgoData: false 
        Verbosity: 2
        Profile:   true

        ClusterAlgoType: ["HIPCluster","DefectCluster","PCACandidates","Refine2DVertex","VertexTrackCluster","LinearVtxFilter","DefectCluster","PCACandidates","dQdXProfiler"]
        ClusterAlgoName: ["hipctor","defbreak1","pca1","refine_vtx","vtxctor","linearvf","defbreak2","pca2","dqdx"]
	
        EnableWireCheck: false
          
        ShowImage: false

        MatchAlgoType: ""
        MatchAlgoName: ""

        ReClusterAlgoType: ""
        ReClusterAlgoName: ""

        UseOnlyTwoPlanes: false
        RequirePlane: 2

        ImageClusterViewer: {
          Verbosity: 0
          Width:  800
          Height: 800
          MinContourArea: 0
        }

        hipctor : {}
	defbreak1 : {}
	pca1 : { BreakPerVertex : ffalse }
        refine_vtx : { PCACandidatesAlgo : "pca1" DefectClusterAlgo : "defbreak1" CircleVScanRadius : 6 CleanImage : false}
        vtxctor : {
           DilationSize : 10
           DilationIterations : 2
           BlurSizeR : 25
           BlurSizeT : 5
           Thresh : 1
           ThreshMaxVal : 255
           Refine2DVertexAlgo : refine_vtx
        }
        linearvf : {}
	defbreak2 : {
	   VertexTrackClusterAlgo: "vtxctor"
	}
	pca2 : {
           DefectClusterAlgo: "defbreak2"
           BreakPerVertex: true
        }
	dqdx : {
	    PCACandidatesName      : "pca2"
            VertexTrackClusterName : "vtxctor"
	}
      }
    }
    
    LArbysImageAna : {
     HIPClusterAlgoName: "hipctor"
     DefectClusterAlgoName: "defbreak1"
     PCACandidatesAlgoName: "pca1"
     Refine2DVertexAlgoName: "refine_vtx"
     VertexTrackClusterAlgoName: "vtxctor"
     LinearVtxFilterAlgoName: "linearvf"
     dQdXProfilerAlgoName: "dqdx"
     LinearTrackClusterAlgoName: ""
     VertexSingleShowerAlgoName: ""
   }

   }

}
