 ProcessDriver:{
  Verbosity: 2
  EnableFilter: false
  RandomAccess: false
  ProcessType: ["LArbysImageMC","ChannelMax","ChannelMax","ChannelMax","CombineImages","SegmentMask","SegmentMask","SegmentMask","MaskImage","MaskImage","MaskImage","BlankImage","WireMask","LArbysImageCheater","VertexAna"]
  ProcessName: ["LArbysImageMC","ChannelMaxPlane0","ChannelMaxPlane1","ChannelMaxPlane2","CombineImages","ShowerSegment","TrackSegment","NuSegment","NuImage","ShowerImage","TrackImage","BlankImage","WireMask","LArbysImageCheater","VertexAna"]
  AnaFile: "reco_ana.root"
  IOManager: {
    Verbosity: 2
    Name:         "IOManager"
    IOMode:        2
    OutFileName:   ""
    InputFiles:    []
    InputDirs:     []
    StoreOnlyType: [4,3,3]
    StoreOnlyName: ["test","test_ctor","test_img"]
  }
  ProcessList: {
   LArbysImageMC: {
      MCProducer: "segment"
      Image2DProducer: "wire"
    }
   ChannelMaxPlane0: {
      Verbosity: 2
      InProducer: "uburn_union_plane0"
      NPlanes: 2
      OutputProducer: "uburn_max_plane0"
      ChannelWeights: [1,1]
      RelevantChannels: [0,1]
      ChannelMask: [1,2]
   }
   ChannelMaxPlane1: {
      Verbosity: 2
      InProducer: "uburn_union_plane1"
      NPlanes: 2
      OutputProducer: "uburn_max_plane1"
      ChannelWeights: [1,1]
      RelevantChannels: [0,1]
      ChannelMask: [1,2]
   }
   ChannelMaxPlane2: {
      Verbosity: 2
      InProducer: "uburn_union_plane2"
      NPlanes: 2
      OutputProducer: "uburn_max_plane2"
      ChannelWeights: [1,1]
      RelevantChannels: [0,1]
      ChannelMask: [1,2]
   }
   CombineImages: {
      Verbosity: 2
      ImageProducers: ["uburn_max_plane0","uburn_max_plane1","uburn_max_plane2"]
      NPlanes: 1
      OutputProducer: "uburn"
   }
   ShowerSegment: {
      Verbosity: 2
      ROIProducer: ""
      ImageProducer:  "uburn"
      OutputProducer: "shower_segment"
      ValidROI: ["Cosmic"]
      MaskValue: 0
      PlaneID: [0,1,2]
   }
   TrackSegment: {
      Verbosity: 2
      ROIProducer: ""
      ImageProducer:  "uburn"
      OutputProducer: "track_segment"
      ValidROI: ["BNB"]
      MaskValue: 0
      PlaneID: [0,1,2]
   }
   NuSegment: {
      Verbosity: 2
      ROIProducer: ""
      ImageProducer:  "segment"
      OutputProducer: "nu_segment"
      ValidROI: ["Eminus","Gamma","Muminus","Proton"]
      MaskValue: 0
      PlaneID: [0,1,2]
   }
   NuImage: {
      Verbosity: 2
      MinPIThreshold: 1
      MaskValue: 0
      OutputProducer: "nu_wire"
      ReferenceProducer: "nu_segment"
      TargetProducer: "wire"
   }
   ShowerImage: {
      Verbosity: 2
      MinPIThreshold: 1
      MaskValue: 0
      OutputProducer: "shower_wire"
      ReferenceProducer: "shower_segment"
      TargetProducer: "nu_wire"
   }
   TrackImage: {
      Verbosity: 2
      MinPIThreshold: 1
      MaskValue: 0
      OutputProducer: "track_wire"
      ReferenceProducer: "track_segment"
      TargetProducer: "nu_wire"
   }
   BlankImage: {
      TPCImageProducer: "wire"
      OutImageProducer: "dead_wire"
      PixValue: 50;
   }
   WireMask: {
      ImageProducer: "dead_wire"
      ChStatusProducer: "wire"
   }
   LArbysImageCheater: {
      Verbosity: 2
      Profile: true
      RSEImageProducer: "wire"
      ADCImageProducer: "nu_wire"
      TrackImageProducer: "track_wire"
      ShowerImageProducer: "shower_wire"
      ThruMuImageProducer: ""
      StopMuImageProducer: ""
      ChStatusImageProducer: ""
      MaskThruMu: false
      MaskStopMu: false
      OutputImageProducer: "test"
      ROIProducer: "segment_union"
      VertexAlgoName: "combinevertex"
      ParticleAlgoName: "matchoverlap"
      3DAlgoName: "matchanalysis"
      VertexAlgoVertexOffset: 0
      ParticleAlgoParticleOffset: 0
      # Image Maker
      LArbysImageMaker:{
         Verbosity: 2
         Q2Gray: 1.0
         QMin: 0.0
         QMax: 255
      }
      # Pre-Processor
      PreProcess: false
      PreProcessor: {
         Verbosity: 2
	 PiThreshold: 10
	 MinContourSize: 4
	 AllowedNeighborSeparation: 10
	 BlurSize: 0
	 EdgePCABoxSize: 5
	 MinPCAOverallAngle: 10
	 MergeTracklets: true
	 MergeTrackletsSize: 6
	 MergeTrackletsDist: 2
      }
      # LArOpenCV configurations
      ImageClusterManager: {
        Verbosity: 2
        Profile: true
        ClusterAlgoType: ["SuperClusterMaker","VertexCheater","VertexParticleClusterMaker","CombineVertex","MatchOverlap","ShapeAnalysis","GapAnalysis","AngleAnalysis","MatchAnalysis","dQdsAnalysis"]
        ClusterAlgoName: ["adc_superclustermaker","vertexcheater","vertexparticleclustermaker","combinevertex","matchoverlap","shapeanalysis","gapanalysis","angleanalysis","matchanalysis","dqdsanalysis"]
        StoreAlgoData: false
        StoreAlgoName: ["combinevertex","matchoverlap"]
	adc_superclustermaker : {
	   ImageSetID: 0
           Verbosity : 2
	   SuperClusterer: {}
        }
        vertexcheater: {
           Verbosity: 2
        }
	vertexparticleclustermaker: {
	   ImageSetID: 0
           Verbosity: 2
           TrackVertexEstimateAlgo: "vertexcheater"
           SuperClusterAlgo: "adc_superclustermaker"
           VertexParticleCluster: {
	        Verbosity: 2
                ThetaHi: 10
                ThetaLo: 10
                PIThreshold: 10
                ContourMinDist: 5
                UseHalfAngle : true
                RefinePolarCluster: true
                RefineCartesianCluster: true
                MaskFractionRadius: -1
                MaskMinRadius: 3
		RefineCartesianThickness: 6
		UseXsRadiusMinDist: true
		ResetXs: false
		ResetXsFixedRad: true
		ResetXsFixedRadSize: 6
		ResetXsRefineXs: false
		ResetXsRefineXsInnerR: 3
          }
        }
	combinevertex: {
           ImageSetID: 0
           Verbosity: 2
  	   TrackVertexEstimateAlgo: "vertexcheater"
	   ParticleClusterAlgo: "vertexparticleclustermaker"
        }
	matchoverlap: {
           ImageSetID: 0
           Verbosity: 2
           VertexAlgo: "combinevertex"
           ParticleClusterAlgo: "combinevertex"
	   VertexAlgoOffset: 0
           MatchWeightBySize: true
	   ParticleClusterAlgoOffset: 1
           VertexAnalysis: {
              Verbosity: 2
           }
        }
	shapeanalysis: {
	   Verbosity: 2
           VertexProducer: "combinevertex"
           ParticleProducer: "matchoverlap"
        }
	gapanalysis: {
	   Verbosity: 2
	   VertexProducer: "combinevertex"
	   ParticleProducer: "matchoverlap"
	}
	angleanalysis: {
	   Verbosity: 2
           CombinedVertexAnalysisAlgo: "combinevertex"
	   ParticleProducer: "matchoverlap"
	   PixelsNumber: 10
	   AngleCut: 175
        }
        matchanalysis: {
           Verbosity: 2
           VertexProducer: "combinevertex"
           ParticleProducer: "matchoverlap"
           DebugMatchAna: false
           BreakContours: false
           DefectBreaker: {}
           AtomicAnalysis: {
              Verbosity: 2
           }
           VertexAnalysis: {
              Verbosity: 2
           }
	   TrunkRadius: 50
	   VertexChargeRadius: 10.0
        }
        dqdsanalysis: {
	  Verbosity: 2
          CombinedVertexAnalysisAlgo: "combinevertex"
	  MatchOverlapAlgo: "matchoverlap"
          MatchAnalysisAlgo: "matchanalysis"
          AngleAnalysisAlgo: "angleanalysis"
	  ShapeAnalysisAlgo: "shapeanalysis"
          dQdsDropLocation:3
          dQdsScanThre: 3.
          TruncateWindowSize: 15
          TruncateWindowSizeThre :3
          HeadFrac: 0.1
          TailFrac: 0.5
          AtomicAnalysis: {
            Verbosity: 2
            PiThreshold: 10
            dXResoluton: 2.
            AtomicRegionPad: 5.
            AtomicContourPad: 3.
          }
        }
      } # END: ImageClusterManager
    } # END: LArbysImage
    VertexAna: {
      Image2DProducer: "wire"
      PGraphProducer : "test"
      PxContourProducer: "test_ctor"
      PxImageProducer: "test_img"
      TrueROIProducer: "segment"
      RecoROIProducer: "segment_union"
      FirstROI: false
    }
  } # END: ProcessList
} # END: ProcessDriver
