ProcessDriver:{
  Verbosity: 2
  EnableFilter: false
  RandomAccess: false
  ProcessType: ["ChannelMax","ChannelMax","ChannelMax","CombineImages","SegmentMask","SegmentMask","SegmentMask","MaskImage","MaskImage","MaskImage","BlankImage","WireMask","LArbysImage","VertexAna","LArbysImageMC"]
  ProcessName: ["ChannelMaxPlane0","ChannelMaxPlane1","ChannelMaxPlane2","CombineImages","ShowerSegment","TrackSegment","ShowerImage","TrackImage","BlankImage","WireMask","LArbysImage","VertexAna","LArbysImageMC"]

  AnaFile: "reco_ana.root"
  IOManager: {
    Verbosity: 2
    Name:         "IOManager"
    IOMode:        2
    OutFileName:   ""
    InputFiles:    []
    InputDirs:     []
    StoreOnlyType: [4,3,3]
    StoreOnlyName: ["test","test_ctor","test_img"]
  }
  ProcessList: {
   ChannelMaxPlane0: {
      Verbosity: 2
      InProducer: "uburn_plane0"
      NPlanes: 2
      OutputProducer: "uburn_max_plane0"
      ChannelWeights: [1,1]
      RelevantChannels: [0,1]
      ChannelMask: [1,2]
   }
   ChannelMaxPlane1: {
      Verbosity: 2
      InProducer: "uburn_plane1"
      NPlanes: 2
      OutputProducer: "uburn_max_plane1"
      ChannelWeights: [1,1]
      RelevantChannels: [0,1]
      ChannelMask: [1,2]
   }
   ChannelMaxPlane2: {
      Verbosity: 2
      InProducer: "uburn_plane2"
      NPlanes: 2
      OutputProducer: "uburn_max_plane2"
      ChannelWeights: [1,1]
      RelevantChannels: [0,1]
      ChannelMask: [1,2]
   }
   CombineImages: {
      Verbosity: 2
      ImageProducers: ["uburn_max_plane0","uburn_max_plane1","uburn_max_plane2"]
      NPlanes: 1
      OutputProducer: "uburn"
    }
    ShowerSegment: {
      Verbosity: 2
      ROIProducer: ""
      ImageProducer:  "uburn"
      OutputProducer: "shower_segment"
      ValidROI: ["Cosmic"]
      MaskValue: 0
      PlaneID: [0,1,2]
    }
    TrackSegment: {
      Verbosity: 2
      ROIProducer: ""
      ImageProducer:  "uburn"
      OutputProducer: "track_segment"
      ValidROI: ["BNB"]
      MaskValue: 0
      PlaneID: [0,1,2]
    }
    ShowerImage: {
      Verbosity: 2
      MinPIThreshold: 1
      MaskValue: 0
      OutputProducer: "shower_tpc"
      ReferenceProducer: "shower_segment"
      TargetProducer: "wire"
    }
    TrackImage: {
      Verbosity: 2
      MinPIThreshold: 1
      MaskValue: 0
      OutputProducer: "track_tpc"
      ReferenceProducer: "track_segment"
      TargetProducer: "wire"
    }
    BlankImage: {
      TPCImageProducer: "wire"
      OutImageProducer: "dead_wire"
      PixValue: 50;
    }
    WireMask: {
      ImageProducer: "dead_wire"
      ChStatusProducer: "wire"
    }
    # LArOpenCV driver
    LArbysImage: {
      Verbosity: 2
      Profile: true
      RSEImageProducer: "wire"
      ADCImageProducer: "wire"
      TrackImageProducer: "track_tpc"
      ShowerImageProducer: "shower_tpc"
      ThruMuImageProducer: "thrumupixels"
      StopMuImageProducer: "stopmupixels"
      ChStatusImageProducer: "dead_wire"
      MaskThruMu: true
      MaskStopMu: true
      OutputImageProducer: "test"
      ROIProducer: "croimerge"
      VertexAlgoName: "combinevertex"
      ParticleAlgoName: "matchoverlap"
      3DAlgoName: "matchanalysis"
      VertexAlgoVertexOffset: 0
      ParticleAlgoParticleOffset: 0
      # Image Maker
      LArbysImageMaker:{
         Q2Gray: 1.0
         QMin: 0.0
         QMax: 255
      }
      # Pre-Processor
      PreProcess: true
      PreProcessor: {
         Verbosity: 2
	 PiThreshold: 10
	 MinContourSize: 4
	 AllowedNeighborSeparation: 10
	 BlurSize: 0
	 EdgePCABoxSize: 5
	 MinPCAOverallAngle: 10
	 MergeTracklets: true
	 MergeTrackletsSize: 6
	 MergeTrackletsDist: 2
      }
      # LArOpenCV configurations
      ImageClusterManager: {
        Verbosity: 2
        Profile: true
        ClusterAlgoType: ["SuperClusterMaker","TrackVertexSeeds","TrackVertexEstimate","TrackVertexScan","ShowerPlaneSeeds","ShowerVertexScan","VertexParticleClusterMaker","CombineVertex","MatchOverlap","ShapeAnalysis","GapAnalysis","AngleAnalysis","MatchAnalysis","dQdsAnalysis"]
        ClusterAlgoName: ["adc_superclustermaker","trackvertexseeds","trackvertexestimate","trackvertexscan","showerplaneseeds","showervertexscan","vertexparticleclustermaker","combinevertex","matchoverlap","shapeanalysis","gapanalysis","angleanalysis","matchanalysis","dqdsanalysis"]
        StoreAlgoData: false
        StoreAlgoName: ["combinevertex","matchoverlap"]
	adc_superclustermaker : {
	   ImageSetID: 0
           Verbosity : 2
	   SuperClusterer: {}
        }
        trackvertexseeds: {
           ImageSetID: 1
           Verbosity : 2
           ClusterHIPMIP: {
              MinHIPClusterSize: 6
              MinHIPClusterPixels: 6
              MinMIPClusterSize: 10
              MinMIPClusterPixels: 20
              MIPLevels: [10,10,10]
              HIPLevels: [70,60,40]
           }
           DefectBreaker: {}
           PCACrossing: {}
	   SimpleKink: {}
        }
        trackvertexestimate: {
           ImageSetID: 1
           Verbosity: 2
           TrackVertexSeedsAlgoName: "trackvertexseeds"
           TrackVertexScan2D: {
              QPointSupression: 1
      	      LArPlaneGeo: {
	        Verbosity: 2
              }
           }
        }
        trackvertexscan : {
           ImageSetID: 0
           Verbosity: 2
           VertexEstimateAlgo: "trackvertexestimate"
           LArPlaneGeo: {
             Verbosity: 2
	     XPlaneTickResolution: 12
           }
           VertexScan3D: {
            Verbosity: 2
            dX: 2
            dY: 2
            dZ: 2
            SizeStep3D: 0.5
            SizeStep2D: 2
            MinRadius2D: 4
            MaxRadius2D: 10
            PIThreshold: 10
            AngleSupression: 0
            PCABoxSize: 2
	    ProhibitOneXs: true
	    MergeVoxels: true
           }
        }
	showerplaneseeds: {
          ImageSetID: 2
	  Verbosity: 2
	  Threshold: 10
	  OneTrackOneShower: {
            Verbosity: 2
	    ValidXsNpx: 1
	    CircleDefaultRadius: 6
	    PiThreshold: 10
	    LArPlaneGeo: {
	      Verbosity: 2
	      XPlaneTickResolution: 4
	    }
	    RequireUnique: true
	    PathExistsCheck: false
	    UseSeedRadius: false
	    RefineQPoint: true
	    RefineQPointMaskout: 3
          }
        }
        showervertexscan : {
           ImageSetID: 0
           Verbosity: 2
           EdgeSeedProducer: "showerplaneseeds"
	   ADCSuperCluster: "adc_superclustermaker"
           LArPlaneGeo: {
             Verbosity: 2
	     XPlaneTickResolution: 12
           }
	   Require3PlanesCharge: false
	   SearchRadiusSize: 5
           VertexScan3D: {
            Verbosity: 2
            dX: 2
            dY: 2
            dZ: 2
            SizeStep3D: 0.5
            SizeStep2D: 2
            MinRadius2D: 6
            MaxRadius2D: 10
            PIThreshold: 10
            AngleSupression: 0
            PCABoxSize: 2
	    ProhibitOneXs: true
	    dThetaCut: 10
	    MergeVoxels: true
           }
        }
	vertexparticleclustermaker: {
	   ImageSetID: 0
           Verbosity: 2
           TrackVertexEstimateAlgo: "trackvertexscan"
	   ShowerVertexEstimateAlgo: "showervertexscan"
           SuperClusterAlgo: "adc_superclustermaker"
           VertexParticleCluster: {
	        Verbosity: 2
                ThetaHi: 10
                ThetaLo: 10
                PIThreshold: 10
                ContourMinDist: 5
                UseHalfAngle : true
                RefinePolarCluster: true
                RefineCartesianCluster: true
                MaskFractionRadius: -1
                MaskMinRadius: 3
		RefineCartesianThickness: 6
		UseXsRadiusMinDist: true
		ResetXs: false
		ResetXsFixedRad: true
		ResetXsFixedRadSize: 6
		ResetXsRefineXs: false
		ResetXsRefineXsInnerR: 3
          }
        }
	combinevertex: {
           ImageSetID: 0
           Verbosity: 2
  	   TrackVertexEstimateAlgo: "trackvertexscan"
	   ShowerVertexEstimateAlgo: "showervertexscan"
	   ParticleClusterAlgo: "vertexparticleclustermaker"
        }
	matchoverlap: {
           ImageSetID: 0
           Verbosity: 2
           VertexAlgo: "combinevertex"
           ParticleClusterAlgo: "combinevertex"
	   VertexAlgoOffset: 0
	   ParticleClusterAlgoOffset: 1
           MatchWeightBySize: true
           VertexAnalysis: {
              Verbosity: 2
           }
        }
	shapeanalysis: {
           VertexProducer: "combinevertex"
           ParticleProducer: "matchoverlap"
        }
	gapanalysis: {
	   VertexProducer: "combinevertex"
	   ParticleProducer: "matchoverlap"
	}
	angleanalysis: {
           CombinedVertexAnalysisAlgo: "combinevertex"
	   ParticleProducer: "matchoverlap"
	   PixelsNumber: 10
	   AngleCut: 175
        }
        matchanalysis: {
           Verbosity: 2
           VertexProducer: "combinevertex"
           ParticleProducer: "matchoverlap"
           DebugMatchAna: false
           BreakContours: false
           DefectBreaker: {}
           AtomicAnalysis: {
              Verbosity: 2
           }
           VertexAnalysis: {
              Verbosity: 2
           }
	   TrunkRadius: 50
	   VertexChargeRadius: 10.0
        }
        dqdsanalysis: {
	  Verbosity: 2
          CombinedVertexAnalysisAlgo: "combinevertex"
	  MatchOverlapAlgo: "matchoverlap"
          MatchAnalysisAlgo: "matchanalysis"
          AngleAnalysisAlgo: "angleanalysis"
          ShapeAnalysisAlgo: "shapeanalysis"
          dQdsDropLocation:3
          dQdsScanThre: 3.
          TruncateWindowSize: 15
          TruncateWindowSizeThre :3
          HeadFrac: 0.1
          TailFrac: 0.5
          AtomicAnalysis: {
            Verbosity: 2
            PiThreshold: 10
            dXResoluton: 2.
            AtomicRegionPad: 5.
            AtomicContourPad: 3.
          }
        }
      } # END: ImageClusterManager
    } # END: LArbysImage
    VertexAna: {
      Image2DProducer: "wire"
      PGraphProducer : "test"
      PxContourProducer: "test_ctor"
      PxImageProducer: "test_img"
      TrueROIProducer: "segment"
      RecoROIProducer: "croimerge"
      FirstROI: false
    }
    LArbysImageMC: {
      MCProducer: "segment"
      Image2DProducer: "wire"
    }
  } # END: ProcessList
} # END: ProcessDriver
